In [1]:
import pandas as pd
df = pd.read_csv("./data/purchase_history.csv")

In [2]:
join_str = lambda i: "2022-"+i
date_list = df["date"].to_list()
date_list = map(join_str, date_list)
df["date"] = list(date_list)

In [3]:
df

,address,user_id,int,float,bool,str,date,datetime,time,timestamp
0,島根県横浜市神奈川区南郷屋6丁目23番9号,A0001,29,7.000000e+00,False,wiVGzPRfsDerYNiBFPxu,2022-03-04,2021-08-07 12:07:23,00:41:48,2021-06-23 04:05:02
1,沖縄県練馬区大中20丁目17番5号 クレスト百村443,A0002,2,-7.350268e+03,False,WfxLtOKOsiSNvQtHwFid,2022-08-28,2021-11-12 10:00:49,00:04:41,2021-07-25 16:44:46
2,東京都長生郡長生村浅草橋17丁目10番2号 シャルム今戸492,A0003,702506,8.729600e+00,True,YGbzdiIrRPirdUelzEox,2022-10-07,2021-02-02 16:37:16,07:14:38,2021-04-15 08:21:03
3,長野県葛飾区南赤田11丁目2番6号 コート上野桜木035,A0004,304130571,-6.411549e+04,False,xzcAeNKUyguXzQxwbnUt,2022-06-03,2021-08-15 09:29:25,10:50:52,2021-07-02 09:29:10
4,栃木県大網白里市蔵前4丁目1番16号 京橋コーポ465,A0005,56452825,4.565810e+00,True,XHLeUHSlLPkZoIyRofQQ,2022-08-23,2021-06-06 00:24:23,17:37:48,2021-09-13 09:32:07
...,...,...,...,...,...,...,...,...,...,...
2994,群馬県八王子市所野26丁目14番18号 虎ノ門シャルム864,A2995,3535,9.376320e+12,False,IVjHqfpbnNhhOEpTWWsx,2022-09-03,2021-01-18 22:39:25,21:37:49,2021-07-19 19:37:38
2995,群馬県鎌ケ谷市中宮祠13丁目20番5号 日本堤コーポ947,A2996,37828,-3.473299e+11,False,VhLTkEdeUtTiKyKGpMQM,2022-03-27,2021-09-28 19:29:43,00:10:46,2021-03-22 23:55:10
2996,大分県昭島市元浅草7丁目3番19号 クレスト脚折651,A2997,9,7.916728e+10,True,mGGrxhppujZaKRGjJZci,2022-11-01,2021-10-26 22:59:53,01:24:10,2021-07-30 06:46:46
2997,山梨県横浜市旭区中川崎37丁目5番10号 入谷クレスト749,A2998,8,4.007527e+08,True,OxjphXqaGTVGSMAgljfr,2022-06-07,2021-01-21 05:38:01,19:47:00,2021-09-21 02:01:25
2998,大分県羽村市雷門5丁目19番13号 雷門アーバン976,A2999,902753,4.140971e+12,True,vxFAjuQePQZZbGHGghDp,2022-04-11,2021-11-06 13:21:11,10:41:15,2021-12-04 17:33:29

In [4]:
df.to_csv("./data/purchase_history.csv", index=False)